<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProtoDrawingCollector.csproj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProtoDrawingCollector.csproj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProtoDrawingCollector.csproj.Properties.Settings.CutlistConnectionString"
            connectionString="Server=AMSTORE-SQL-05;Database=ENGINEERING;Trusted_Connection=True;" />
    </connectionStrings>
    <userSettings>
        <ProtoDrawingCollector.csproj.Properties.Settings>
            <setting name="MessageLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="MessageSize" serializeAs="String">
                <value>800, 200</value>
            </setting>
            <setting name="Suffix" serializeAs="String">
                <value>-PACKET</value>
            </setting>
            <setting name="PageStampLoc" serializeAs="String">
                <value>1175, 20</value>
            </setting>
            <setting name="PageStampSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PageStampWhiteoutRectangle" serializeAs="String">
                <value>1154, 20, 47, 16</value>
            </setting>
            <setting name="AutoDeletePreMergedPDFs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Recurse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PageStampWhiteoutRectangleA4" serializeAs="String">
                <value>720, 20, 47, 16</value>
            </setting>
            <setting name="PageStampLocA4" serializeAs="String">
                <value>743, 20</value>
            </setting>
        </ProtoDrawingCollector.csproj.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ProtoDrawingCollector.csproj.Properties.Settings>
            <setting name="TableHashes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>B2-01-6F-32-BD-A0-D4-35-11-4D-40-09-16-58-0B-2F</string>
                        <string>A5-E1-C2-0B-16-EB-35-E9-62-D3-1D-18-94-F0-81-80</string>
                        <string>C6-D1-82-65-2B-53-7C-4A-D6-74-BF-33-69-75-A1-3E</string>
                        <string>E-78-D8-47-DC-44-3C-93-6E-DB-E8-24-C3-63-22-FD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TargetPath" serializeAs="String">
                <value />
            </setting>
        </ProtoDrawingCollector.csproj.Properties.Settings>
    </applicationSettings>
</configuration>